* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}

@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400..800&family=Lora:ital,wght@0,400..700;1,400..700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

body {
    background-color: rgb(205, 197, 197);
    overflow-x: hidden;
}

.main {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background-image: linear-gradient(#E9DBDB, #837B7B);
    position: relative;
    /* display: flex; */
}

.ellipse {
    width: 80%;
    height: 1800px;
    background-color: #C8D7D7;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    right: 3%;
    transform: translate(50%, -50%);
    /* rotate(-40deg);  */
    z-index: 1;

}

.navbar {
    display: flex;
    justify-content: space-between;

}

.logo {
    margin-left: 55px;
    margin-top: 20px;
    /* border: 1px solid grey; */
    border-radius: 10px;
}

.rounded-image {
    border-radius: 15px 15px 15px 15px;
}

.navbar .nav ul {
    display: flex;
    gap: 80px;
    list-style: none;
    position: relative;
    z-index: 2;
    margin-right: 200px;
    margin-top: 40px;

}

.navbar .nav ul li {
    font-size: 15px;
    letter-spacing: 2px;
    /* font-weight: 100; */
    font-family: 'Inter', sans-serif;
    font-weight: bold;
}
.navbar .nav ul li:hover{
    color: white;
    cursor: pointer;
}
.slogan {
    height: 30%;
    width: 25%;
    background-color: #A47A7A;
    position: absolute;
    top: 25%;
    left: 2%;
    border-radius: 100px;
    padding: 45px;
    color: white;
    line-height: 0.6;
    

}

.snap, .with, .praj{
    font-size:xx-large;
}

.camera {
    position: absolute;
    left: 50%;
    top: 40%;
    z-index: 3;


}


/* img{
    
    box-shadow: 12px 12px 128px #A47A7A ;
   
} */



.login {
    cursor: pointer;
    background-color: #BCF1B7;
    border: 1px solid grey;
    padding: 5px;
    border-radius: 10px;
}

.login:hover {
    background-color: black;
    color: white;
}

.btn1 {
    position: absolute;
    top: 75%;
    left: 6%;
    border: 1px solid grey;
    padding: 20px;
    border-radius: 30px;
    font-weight: bold;
    background-image: linear-gradient(to left, #A47A7A, #BAEEA2);
    cursor: pointer;
}

.btn1:hover {
    /* background-color: black; */
    color: white;
}



.main2 {
    height: 80vh;
    width: 100vw;
    background-color: #D9D9D9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.brand {
    display: flex;
    height: 10%;
    width: 18%;
    margin-top: 20px;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
    background-color: #BBB7B7;
    padding-top: 10px;
    border-radius: 15px;
}


.brandflex {
    height: 70%;
    width: 90%;
    background-color: #D9D9D9;
    ;
    display: flex;
    margin-top: 10px;
    gap: 70px;
    justify-content: center;
    /* align-items: center; */
}

.brand1 {
    width: 350px;
    height: 280px;
    background-color: #D9D9D9;
    margin-top: 10px;
    position: relative;
   
}

.brand1 img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.brand1 button {
    position: absolute;
    top: 110%;
    left: 35%;
    height: 40px;
    width: 100px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-image: linear-gradient(to left, #A47A7A, #BAEEA2);

}

.brand1 button:hover {
    background-image: black;
    color: white;
    cursor: pointer;
}


.brand2 {
    width: 350px;
    height: 90px;
    background-color: blue;
    margin-top: 30px;

}


.brand3 {
    width: 350px;
    height: 90px;
    background-color: blue;
    margin-top: 10px;
}

.main3 {
    height: 60vh;
    width: 100vw;
    background-color: #D9D9D9;
    position: relative;
    /* display: flex;
    gap: 20px; */
}


.left {
    height: 90%;
    width: 50%;
    position: absolute;
    top: 5%;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Inter', sans-serif;
    background-color: #D9D9D9;

}

.gear {
    padding: 15px;
    color: black;
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    /* font-weight: <weight>; */
    font-style: normal;

}

.help {
    padding: 20px;
    color: black;
    font-size: 20px;
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    /* font-weight: <weight>; */
    font-style: normal;
    word-spacing: 5%;
    letter-spacing: 1px;
}

.right {
    height: 90%;
    width:  40%;
    position: absolute;
    top: 5%;
    left: 55%;
    /* background-color: rgb(159, 71, 71); */
    right: 15%;
    border-radius: 40px;

    
}


.btn5 {
    height: 40px;
    width: 100px;
    position: absolute;
    top: 83%;
    left: 3%;
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-image: linear-gradient(to left, #A47A7A, #BAEEA2);
    font-size: 15px;
}

.btn5:hover{
    background-color: black;
    color: white;
    cursor: pointer;
}
.right img{
    height: 55vh;
    border-radius: 40px;
    width: 40vw;
    object-fit:cover;
} 


.main4{
    height: 140vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

.brand-2 {
    display: flex;
    height: 8%;
    width: 20%;
    margin-top: 20px;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
    background-color: #BBB7B7;
    padding: 5px;
    border-radius: 15px;
}

.scontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 90vw; /* Adjust width as needed */
    height: 130vh;
    gap: 35px;
    background-image: linear-gradient(#F4EAEA,#8E8989);
    border-radius: 20px;
}

.items {
    width: 20%; /* Each item takes up 50% of the container's width */
    height: 40%; /* Adjust height as needed */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
    /* border: 1px solid #4e1111;  */
}


.desc{
    text-align: center;
    font-size: medium;
    padding-top: 15px;
}

.price{
    text-align: center;
    font-size: medium;
}

.btn10{
    height: 40px;
    width: 100px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-image: linear-gradient(to left, #A47A7A, #BAEEA2);
    font-size: 15px;
    margin-left: 85px;
    margin-top: 15px;
}

.btn10:hover{
    color: white;
    cursor: pointer;
}


.footer{
    margin-top: 20px;
}